.Class{
    display:flex;
    flex-direction: column;
    background-color: #e2e2e2;
    /*width: 100%;
    height: 100%;
    margin-left: 2%;*/
    justify-content: center;
    align-items: center;
}

.Class p{
    text-align: center;
}

.ClassImage{
    background-color: rgb(202, 183, 5);
    width: 45vh;
    height: 25vh;
}
.texth3{
    text-align: center;
    font-size: 30px;
}
.textform{
    width: 40%;
}
.box{
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(37, 34, 34);
    width: 280px;
}
.button{
    border-radius: 7px;
    background-color: rgb(62, 253, 253);
    width: 20%;
    height: 40px;
    color: black;
}